@font-face {
  font-family: "Roboto";
  src: url("./fonts/RobotoCondensed-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("./fonts/RobotoCondensed-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "VendSans";
  src: url("./fonts/VendSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* 
глобальные css переменные 
по какому принципу определяется, что сюда вносить?
*/
:root {
  --color-dark: #000;
  --color-light: #fff;
  --color-dark-gray: #404040;
  --color-light-gray: #c4c4c4;

  --border-radius: 30px;
  --border: 1px solid var(--color-light);

  --font-family-base: "Roboto", sans-serif;
  --font-family-base: "VendSans", sans-serif;

  --input-height: 54px;

  --containet-width: 1300px;
  --containet-padding-x: 15px;

  --transition-duration: 0.2s;
}

body {
  font-family: var(--font-family-base);
  font-weight: 300;
  font-size: 16px;
  line-height: 1.75;
  color: var(--color-light-gray);
  background-color: var(--color-dark);
}
a {
  color: var(--color-light);
}
a:hover {
  color: var(--color-light-gray);
}
a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

/* стили утилитарного класса контейнер для которого ранее обьявлены глобальные переменные */
.container {
  max-width: calc(var(--containet-width) + var(--containet-padding-x) * 2);
  /* вот это не понятно.. зачем так сложно - 
     ширина контентной сетки + удвоенная величина отступов = 1300рх которые в containet-width: 1300px; */

  margin-inline: auto; /* центровка контента по горизонтали */
  padding-inline: var(--containet-padding-x);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  text-transform: uppercase;
}

.button {
  display: inline-flex;
  align-items: center;
  height: 38px;
  padding-inline: 26px;
  font-size: 12px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  white-space: nowrap;
  background-color: var(--color-light);
  border: none;
  border-radius: var(--border-radius);
}

.button:hover {
  background-color: var(--color-light-gray);
}
/* курсор поинтер добавлять не нужно. курсор с рукой должен быть только на линксах */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
}

.header-menu-list {
  display: flex;
  column-gap: 50px;
}

.header-logo {
  flex-shrink: 0;
  /* чтобы логотип не искажался в размерах 
    flex-shrink: 1 → элемент может сжиматься (по умолчанию)
    flex-shrink: 0 → элемент не сжимается, остаётся своего размера
    */
}

.header-menu-link {
  /* чтобы увеличить область нажатия на ссылку нужны отступы сверху и снизу */
  display: inline-flex;
  align-items: center;
  column-gap: 7px;
  height: 90px;

  /* background-color: #c03232; */
  /* св-во чтобы увидеть эту область */

  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 1.2px;
}
/* создание псевдоэлемента кружлчка рядом с HOME ссылкой */
.header-menu-link.is-current::after {
  content: "";
  width: 5px;
  height: 5px;
  background-color: currentColor;
  border-radius: 50%;
}

.header-actions {
  display: flex;
  column-gap: 40px;
}
